<div class="container-fluid footer">
    <div class="row">
        <!-- Contact Information -->
        <div class="col-lg-4 col-md-6">
            <h5>Contact Us</h5>
            <p>Phone: 7983236189 / 9412075945</p>
            <p>Email: <a [href]="emailLink">{{ email }}</a></p>
        </div>
        <!-- Address Information -->
        <div class="col-lg-4 col-md-6">
            <h5>Address</h5>
            <p>Lakshmi Vihar, Harakpur Queera,</p>
            <p>Haldwani, Uttarakhand, India</p>
            <p>Pin Code: 263139</p>
        </div>
        <!-- Google Map -->
        <div class="col-lg-4 col-md-12">
            <h5>Find Us</h5>
            <a href="https://www.google.com/maps/place/Puranpur+Nanwal,+Uttarakhand+263139/@29.2156292,79.437611,15.2z/data=!4m6!3m5!1s0x39a09ceb3fbb9517:0xe80a19c679e9b232!8m2!3d29.2128381!4d79.4464792!16s%2Fg%2F12hky6f7g?entry=ttu" target="_blank">
                <img src="/assets/public/images/locationmap.jpg" alt="Google Map" width="50%" class="imgfoot">
            </a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="footer-copy">&copy; 2024 Uttaraonline. All Rights Reserved.</p>
        </div>
    </div>
</div>