body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #343a40; /* Dark background color */
}
.navbar-brand {
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: white; /* Text color */
}
.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background color */
    padding: 20px;
    border-radius: 10px;
}
.carousel-caption h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.carousel-caption p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.btn-transparent {
    background: rgba(255, 255, 255, 0.3); /* Transparent white background */
    border: none;
    color: white;
    margin-right: 10px;
}
.btn-transparent:hover {
    background: rgba(255, 255, 255, 0.5); /* Slightly opaque white background on hover */
}